
<style>
    h2{
        text-align: center;
    }
    #divform{
        background: #E0FFFF;
        background-position: center;
        display: flex;
        align-items: center;
        margin: 3rem auto;
        padding: 1rem 0;
    }
    @media (min-width: 800px){
        #divform{
            width: 40%;
            height: 60%;
        }
    }
</style>

<h2>Faça o Login</h2>
<div id="divform" class="card">
    <form action="/usuarios/login" method="POST">
        
        <div id="input01" class="input mt-4">
        
            <label for="email">Email:</label>
            <br>
            <input type="email" name="email" required class="form-control"/>
            <br>
            <label for="senha">Senha:</label>
            <br>
            <input type="password" name="senha" required class="form-control"/>
            <br>
            <button class="btn btn-success mt-2" type="submit">Entrar</button>
        </div>
    </form>
</div>
