<style>
    h3{
        text-align: center;
    }
    #divform{
        background-position: center;
        align-items: center;
        background:#8FBC8F;
        margin: auto;
        border: none;
    }
    #divform2{
        align-items: center;
        background:#E0FFFF;
        margin: 2rem 2rem;
        padding: 2rem 2rem;
    }

    @media (min-width: 800px) {
    #divform {
        max-width: 55%;
    }
    #divform2{
        width: 70%;
        height: 70%;
        }
    }
    
</style>

{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div id="divform" class="card">
    <h3>Cria sua conta</h3>
    <div id="divform2" class="card-body">
        <form action="" method="POST">
            <label for="text" name="nome">Nome</label>
            <input type="text" name="nome" class="form-control">
            <label for="email" name="email">Email</label>
            <input type="email" name="email" class="form-control">
            <label for="senha" name="senha">Senha</label>
            <input type="password" name="senha" class="form-control">
            <label for="senha2" name="senha2">Repita a Senha</label>
            <input type="password" name="senha2" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Criar Usuario</button>
        </form>
        
    </div>
</div>
